html,
input {
  transition: all 0.3s ease-in;
}
html.dark.primary-color {
  background: #050a30;
  color: white;
}
.primary-color,
#bio-inner {
  background: #c9d1d9;
}
html.dark .text-color {
  color: #8b949e;
}
input {
  border: none;
  outline: none;
}
input::placeholder {
  font-size: 1.1rem;
}
html.dark input,
html.dark #main-body {
  background: #003060;
  color: #c9d1d9;
}
html.dark input::placeholder {
  color: #c9d1d9;
}
body {
  font-family: "Fredoka", sans-serif;
}

html.dark #bio-inner {
  background: #050a30;
  color: #c9d1d9;
}

@media screen and (max-width: 768px) {
  #bio {
    margin-top: 1rem !important;
  }
}
